# Counting Ratings of movie in dataset of movielens https://grouplens.org/datasets/movielens/

### RDD Approach

In [52]:
val lines = sc.textFile("/Users/pulkit/data/ml-100k/u.data")

In [53]:
val mdrating = lines.map(x => x.split("\t")(2).toString).countByValue()

In [30]:
val result = mdrating.toSeq.sortBy(_._1)

In [31]:
result.foreach(println)

(1,6110)
(2,11370)
(3,27145)
(4,34174)
(5,21201)

## DataFrame Approach

In [48]:
import org.apache.spark.sql.functions._
import org.apache.spark.sql.functions.col

val mdf = spark.read.
                    format("csv").
                    option("sep","\t").option("header","false").
                    load("/Users/pulkit/data/ml-100k/u.data").
                    toDF("userID","movieID","rating","timestamp")

In [49]:
mdf.show(4)

+------+-------+------+---------+
|userID|movieID|rating|timestamp|
+------+-------+------+---------+
|   196|    242|     3|881250949|
|   186|    302|     3|891717742|
|    22|    377|     1|878887116|
|   244|     51|     2|880606923|
+------+-------+------+---------+
only showing top 4 rows

In [50]:
mdf.groupBy("rating").count().orderBy(col("count").desc).show()

+------+-----+
|rating|count|
+------+-----+
|     4|34174|
|     3|27145|
|     5|21201|
|     2|11370|
|     1| 6110|
+------+-----+